@font-face {
	font-family: odin-font;
	src: url(./fonts/Norse-Bold.otf);
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

footer {
	position: absolute;
	bottom: 0px;
	color: white;
}

.main {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.left-photo {
	background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: calc(100vw / 3);
	display: flex;
	justify-content: center;
	position: relative;
}

.right-form {
	width: calc(100vw * 2 / 3);
	display: flex;
	justify-content: center;
}

.banner {
	font-family: odin-font, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 20%;
	background-color: #00000080;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.banner img {
	width: 50px;
	height: auto;
	margin: 8px;
}

.banner > p {
	margin: 0px;
	color: white;
	font-size: clamp(2rem, 6vw, 4rem);
	margin-right: 8px;
}

footer p {
	margin: 8px;
	font-size: 8px;
}
